@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');

.new_materialBgLettersFont {
    font-family: 'Pacifico', cursive;
}

.hideOnSmall {
    display: none;
}

@media (min-width: 768px) {
    .hideOnSmall {
        display: block;
    }
}